.modal-button {
  background-color: transparent;
  color: white;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  margin-top: 15px;
}
.modal-button:hover {
  background: white;
  color: #242424;
  transition: all 0.3s ease-out;
}
