.pages-container {
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  background: white;
}
.pages-container-info {
  align-items: center;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  min-height: 700px;
}
.pages-container-info-header {
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}
.pages-container-info-form {
  line-height: 40px;
  padding-bottom: 40px;
  margin-left: 30%;
  margin-right: 30%;
  background: rgb(242, 240, 240);
  border-radius: 10px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
}
h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 10%;
  }
  .col-3 {
    flex-basis: 10%;
  }
  .col-4 {
    flex-basis: 20%;
  }
  .col-5 {
    flex-basis: 20%;
  }

  @media all and (max-width: 960px) {
    .table-header {
      display: none;
    }
    .table-row {
    }
    li {
      display: block;
    }
    .col {
      flex-basis: 100%;
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}

.button-new {
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  height: 45px;
  margin-left: 30px;
}

.button-new:hover {
  background-color: #2c974b;
}
.button-edit {
  background-color: orange;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  height: 45px;
  margin-left: 30px;
}

.button-edit:hover {
  background-color: darkorange;
}
.button-delete {
  background-color: red;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  height: 45px;
  margin-left: 30px;
}

.button-delete:hover {
  background-color: darkred;
}
.button-visits {
  background-color: rgb(42, 39, 39);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  height: 45px;
  margin-left: 30px;
}

.button-visits:hover {
  background-color: rgb(68, 68, 72);
}
.button-confirm {
  background-color: rgb(42, 39, 39);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  height: 45px;
}

.button-confirm:hover {
  background-color: rgb(68, 68, 72);
}

.button-back {
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  height: 45px;
  margin-right: 30px;
}

.button-back:hover {
  background-color: #2c974b;
}
